body {
  background: #0E1414;
  color: #fff;
  margin: 0;
  padding: 4rem 1.5rem 1.5rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
}

main {
  max-width: 768px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.heading {
  font-size: 1.35em;
  text-transform: uppercase;
}

.answer-body-needs {
  .separator {
    background: #fff;
    border: none;
    height: 1px;
    margin: .5rem 0 1.75rem;
  }
  
  .be-mindful {
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
    color: #cf132f;
    margin: 2.75rem 0 1rem;
  }
  
  .sourcing {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .viewable-image img {
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

.latest-from-aeg {
  .heading {
    font-size: 1.5em;
    text-align: center;
    margin: 4rem 0 3rem;
  }

  picture {
    overflow: hidden;
    border-bottom: solid 4px #cf132f;
    display: flex;
  }

  img {
    transition: all 1s ease-in-out;
  }

  .article {
    margin-bottom: 4rem;

    &:hover img {
      transform: scale(1.1);
    }
  }

  h3 {
    font-weight: 600;
    margin: 1rem 0 .5rem;
  }

  p {
    color: #ccc;
    font-size: .875em;
  }

  a {
    color: #fff;
    font-size: .875em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1.5rem;
    display: inline-block;
    border-bottom: solid 1px #cf132f;
    padding-bottom: 3px;
  }
}


@media only screen and (min-width: 480px) {
  .answer-body-needs {
    .images {
      display: flex;
      gap: 1.5rem;

      img {
        margin-bottom: 0;
      }

      .left-col, .right-col {
        width: 50%;
      }

      .right-col {
        display: flex;
        flex-direction: column;

        .viewable-image:last-child {
          margin-top: auto;
        }
      }
    }
  }

  .latest-from-aeg .article {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

    picture {
      width: 40%;
    }

    .article-details {
      width: 60%;
    }

    h3 { 
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 11.5rem 7.5rem 7rem;
  }

  main {
    max-width: 1200px;
  }

  .answer-body-needs {
    display: flex;
    gap: 1.5rem;
    
    h1 {
      font-size: 1.5em;
    }

    .texts {
      flex: 1;
      order: 3;
    }

    .images {
      flex: 2;
      gap: 1.5rem;
      align-self: flex-start;
    }
  }

  .latest-from-aeg {
    margin-top: 13.5rem;

    .heading {
      font-size: 2.4em;
    }

    .articles {
      display: flex;
      gap: 1.5rem;

      .article,
      .article-details {
        display: block;
        width: 100%;
      }

      picture {
        width: 100%;
      }

      h3 {
        margin-top: 1rem;
      }
    }
  }
}